.features-section{
    padding: 88px 0 144px;
    background-color: var(--color-purple-100);
}
.features-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0 80px;
}

.feature-card{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.feature-card__number{
    border-radius: 100%;
    border: 1px solid var(--color-purple-500);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.feature-card__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.feature-card__title{
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    font-weight: var(--font-preset-3);
}

.feature-card__description{
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    font-family: Manrope, sans-serif;
    text-align: center;
}

@media (max-width: 768px) {
    .features-section{
        padding-bottom: 0;
    }
    .features-container{
        flex-direction: column;
        padding: 56px 44px 44px;
    }
    .feature-card{
        width: 100%;
        flex-direction: row;
    }
    .feature-card__body{
        align-items: start;
    }
    .feature-card__description{
        text-align: start;
    }
}

@media (max-width: 576px) {
    .features-section{
        margin-top: 0;
    }
    .features-container {
        padding: 64px 20px;
    }
    .feature-card{
        gap: 24px;
        flex-direction: column;
    }
    .feature-card__body{
        gap: 16px;
        align-items: center;
    }
    .feature-card__title, .feature-card__description{
        text-align: center;
    }
}