.founder-section{
    margin-top: 112px;
}
.founder-container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: end;
    position: relative;
    margin: 0 80px;
}

.founder__image-wrapper{
    position: relative;
}

.founder__content{
    padding: 64px;
    background-color: var(--color-purple-900);
    display: flex;
    flex-direction: column;
    gap: 32px;
    transform: translateY(40px);
    margin-left: -120px;
    position: relative;
    z-index: 2;
}

.founder__title{
    color: var(--color-white);
    font-size: var(--text-preset-2);
    line-height: var(--leading-preset-2);
    font-weight: var(--font-preset-2);
}

.founder__description{
    color: var(--color-white);
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    font-family: Manrope, sans-serif;
}

.founder__cta-btn{
    color: var(--color-purple-900);
    font-size: var(--text-preset-5);
    line-height: var(--leading-preset-5);
    font-family: Manrope, sans-serif;
    background-color: var(--color-green);
    font-weight: var(--font-preset-5);
    padding: 12px 32px;
    align-self: start;
}

.founder__cta-btn:hover{
    background-color: transparent;
    outline: 2px solid var(--color-green);
    color: var(--color-green);
}

.founder__pattern-3{
    position: absolute;
    z-index: 3;
    right: 50px;
    bottom: -100px;
}

@media (max-width: 768px) {
    .founder-section{
        margin-top: 0;
    }
    .founder-container{
        padding: 112px 44px 0;
        grid-template-columns: 1fr 1.5fr;
        margin: 0;
    }

    .founder__image-wrapper{
        align-self: start;
        transform: translateY(-40px);
    }
    .founder{
        width: 100%;
        height: auto;
        display: block;
    }
    .founder__content{
        padding: 48px;
        margin-left: -60px;
        transform: translateY(80px);
    }
    .founder__pattern-3{
        bottom: -200px;
    }
}

@media (max-width: 576px) {
    .founder-section{
        padding: 112px 20px 0;
    }
    .founder-container{
        padding: 0;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0;
    }

    .founder__title{
        text-align: center;
    }

    .founder__content{
        padding: 32px;
        margin-top: -200px;
        margin-left: 0;
    }
    .founder__pattern-3{
        display: none;
    }
    .founder__description{
        text-align: center;
    }

    .founder__cta-btn{
        align-self: center;
    }
}