:root{
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-350: 28px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-550: 44px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1100: 88px;
    --spacing-1400: 112px;
    --spacing-1600: 128px;
    --spacing-1800: 144px;
    --spacing-2100: 168px;
    --spacing-3700: 296px;
}